{{#if example }}
<section class="example-section" title="Demo">
    {{> (lookup . 'example')}}
</section>

<section class="example-section" title="Code">
    {{#code}}
        {{> (lookup . 'example')}}
    {{/code}}                
</section>
{{/if}}

{{#if (or sass options) }}
<section class="example-section" title="Config">
    {{#if sass }}
        <h4>SASS vars</h4>
        {{#sass-vars}}
            {{ sass }}
        {{/sass-vars}}
    {{/if}}
    {{#if options }}
        <h4>Options</h4>
        <pre>
            <code class="prettyprint lang-json" data-options="{{ options }}"></code>
        </pre>
    {{/if}}
</section>
{{/if}}

{{#if api }}
<section class="example-section" title="API">
    <h3>API</h3>
    <pre>
        <code class="prettyprint" data-api="{{ api }}"></code>
    </pre>
    {{#if events }}
    <h3>Events</h3>
    <p>See demo for examples</p>
    {{> (lookup . 'events')}}
    {{/if}}
</section>
{{/if}}

{{#if source }}
<section class="example-section" title="Source">
    {{#code lang='js'}}
        {{#fetch}}{{ source }}{{/fetch}}
    {{/code}}
</section>
{{/if}}