@import 'sass-easing';
@import '../inc/mixins';
@import '../inc/trig';

// Drawer nav
// --------------------------------------------------

$drawer-width-desktop: 20% !default;
$drawer-width-phone: 80% !default;
$drawer-breakpoint: 700px !default;

$drawer-easing: $easeInOutCirc !default;
$drawer-bg: #fff !default;
$drawer-shadow: 0 0 50px rgba(#000, 0.5) !default;
$drawer-content-opacity: 0.25 !default;

$drawer-hamburger-color: #333 !default;
$drawer-hamburger-width: 30px !default;
$drawer-hamburger-bar-height: 2px !default;
$drawer-hamburger-bar-gap: 6px !default;
$drawer-hamburger-easing: $easeInOutBack !default;
$drawer-content-selector: '#content' !default;

$drawer-hamburger-translate: calc(( ( sin(45deg) * $drawer-hamburger-width ) - 2 * ( $drawer-hamburger-bar-height + $drawer-hamburger-bar-gap ) ) / 2);


.drawer {
    transition: all 0.6s $drawer-easing;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: $drawer-width-desktop;
    background: $drawer-bg;
    z-index: 99;
    padding-top: 5em;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    @media only screen and (max-width: $drawer-breakpoint) {
        width: $drawer-width-phone;
        min-width: 270px;
    }

}
// .drawer

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $drawer-hamburger-width;
    cursor: pointer;
    position: relative;

    .bar {
        transition: 0.2s;
        display: block;
        height: $drawer-hamburger-bar-height;
        background: $drawer-hamburger-color;
        margin: calc($drawer-hamburger-bar-gap / 2) 0;
        border-radius: 99px;

        &:first-child,
        &:last-child {
            transform-origin: 0 50%;
        }

    }
    
    html.no-touch &:hover {
    }

}	
// .hamburger

#{$drawer-content-selector} {
    transition: all 0.6s $drawer-easing;
}
// .site-content

body.drawer--open {
	overflow: hidden;
	
  .hamburger {
      
    .bar {
      transition: all 0.35s $drawer-hamburger-easing;
      transform: translateX(75%) scaleX(0);
      opacity: 0;
      background: $drawer-hamburger-color;
    }

    .bar:first-child {
      transform-origin: 0 50%;
      transform: translateY(-$drawer-hamburger-translate) rotate(45deg);
      opacity: 1;
    }

    .bar:last-child {
      transform-origin: 0 50%;
      transform: translateY($drawer-hamburger-translate) rotate(-45deg);
      opacity: 1;
    }

  }
  // .hamburger

  #{$drawer-content-selector} {
    transform: translate(calc($drawer-width-desktop / -2), 0);
    opacity: $drawer-content-opacity;

    * {
      pointer-events: none;
    }

    @media only screen and (max-width: $drawer-breakpoint) {
      transform: translate(calc($drawer-width-phone / -2), 0);
    }

  }

  .drawer {
    transform: translate(-100%, 0);
    box-shadow: $drawer-shadow;
  }

}
// body.drawer--open