<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	<link rel="stylesheet" href="{{ root }}../dist/css/main.css">
	<link rel="stylesheet" href="{{ css }}">

	<style type="text/css">
	{{ styles }}
	</style>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body>

{{#if root }}<a href="../index.html">⬅️Back</a>{{/if}}
{{> body}}

</body>
</html>
