---
title: "CSS Reset"
---

<h2>CSS Reset</h2>
<p>A simple CSS reset to give you a fresh slate.</p>

<h4>SASS</h4>

{{#code lang='css'}}
@import 'pickles/src/scss/utils/css-reset';
{{/code}}

<h4>CSS</h4>

{{#code}}
<link rel="stylesheet" href="pickles/dist/css/utils/css-reset.css">
{{/code}}
