---
title: 'Grid'
---

<h2>Grid</h2>

<p>Uses <a href="http://flexboxgrid.com/">http://flexboxgrid.com/</a></p>

<h4>SASS</h4>

{{#code lang='css'}}
@import 'pickles/src/scss/ui/grid';
{{/code}}

<h4>CSS</h4>

{{#code}}
<link rel="stylesheet" href="pickles/dist/css/ui/grid.css">
{{/code}}


