---
title: 'Scroll Effects'
styles: '
body {
    min-height: 200vh;
}
.tile {
  position: absolute;
  width: 200px;
  height: 200px;
}
.tile1 {
  top: 100vh; left: 20vw; background: red; --test: 0%; clip-path: polygon(var(--test) 0%, calc(100% - var(--test)) 0%, calc(100% - var(--test)) 100%, var(--test) 100%);
}
.tile2 {
  top: 120vh; left: 50vw; background: green;
}
.tile3 {
  top: 90vh; left: 70vw; background: blue;
}
'
scripts: '<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js" crossorigin="anonymous"></script>'
---

<h2>Scroll Effects</h2>
<p>Animate stuff as you scroll.</p>

{{> guide 
    example='scroll-effects-example'
    options='myScrollEffects.options'
    api='myScrollEffects'
    source='js/anim/scroll-effects.js'
}}
