<form data-ajax="../json/ajax.json">

    <label>Name</label>
    <input type="name" placeholder="Enter name" required="required">

    <label>Email</label>
    <input type="email" placeholder="Enter email" required="required">

    <div class="alert-wrapper"></div>

    <button type="submit">Submit</button>

</form>

<!-- Load the JS library (or use an ES6 import: 
    import { AjaxForms } from 'pickles';
    var myAjaxForms = new AjaxForms();
) -->
<script src="../../dist/js/pickles.js"></script>

<script>

    var myAjaxForms;

    jQuery(document)
        .ready(function($) {

            myAjaxForms = new Pickles.AjaxForms();

        });

</script>