<p>Include the stylesheet...</p>

{{#code}}
<link rel="stylesheet" href="pickles/dist/css/anim/appear.css">
{{/code}}

<h1 data-appear="fade-in" data-appear-delay="500">A heading that appears</h1>
<p data-appear="fade-up" data-appear-duration="1000" data-appear-delay="700" data-appear-easing="ease-in-out-circ">Some text that also appears when the page loads.</p>
<img data-appear="fade-in" data-appear-delay="1300" src="https://picsum.photos/400/400">

<!-- Load the JS library (or use an ES6 import: 
    import { Appear } from 'pickles';
    var myAppear = new Appear();
) -->
<script src="../../dist/js/pickles.js"></script>

<script>

    var myAppear;

    jQuery(document)
        .ready(function($) {

            myAppear = new Pickles.Appear();

        });

</script>