<div class="hamburger" data-drawer-toggle>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div> 

<div class="drawer">
    <p>This is the drawer.</p>
    <p><a href="#" data-drawer-toggle>Goodbye</a></p>
</div>

<div id="content">
    <h3>Drawer</h3>
    <p>This is some content. Use the hamburger or <a href="#" data-drawer-toggle>click here</a>.</p>    
</div>
    
<script src="../../dist/js/Pickles.js"></script>

<script>

    jQuery(document)
        .ready(function($) {

            // create the drawer

            var d = new Pickles.Drawer();

            // watch the open and close events

            $(document)
                .on('drawer.open', e => {
                    console.log('the drawer is open');
                })
                .on('drawer.close', e => {
                    console.log('the drawer is closed');
                });         

        });

</script>