<!-- Don't forget to load the styles: "{{css}}" or "{{sass}}" -->

<div class="hamburger" data-drawer-toggle>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div> 

<div class="drawer">
    <p>This is the drawer.</p>
    <p><a href="#" data-drawer-toggle>Goodbye</a></p>
</div>

<div id="content">
    <h2>Drawer</h2>
    <p>This is some content. Use the hamburger or <a href="#" data-drawer-toggle>click here</a>.</p>    
</div>
    
<!-- Load the JS library -->
<script src="../../dist/js/Pickles.js"></script>

<script>

    var myDrawer;

    jQuery(document)
        .ready(function($) {

            // create the drawer
            myDrawer = new Pickles.Drawer();

            // watch the open and close events
            $(document)
                .on('drawerOpen', e => {
                    console.log('the drawer is open');
                })
                .on('drawerClose', e => {
                    console.log('the drawer is closed');
                });         

        });

</script>