<p>Use the tab key to focus on <a href="#">a link</a></p>

<div id="here">
  Or tab
  <a href="#">to</a>
  <a href="#">these</a>
  <a href="#">links</a>
</div>

<p>One last <a href="#">link</a></p>

<p>
  <label>
    <input type="checkbox" id="focusToggle"> Trap focus in grey box
  </label>  
</p>

<!-- Load the JS library (or use an ES6 import: 
    import { FocusTrap } from 'pickles';
    var myFocusTrap = new FocusTrap($selector);
) -->
<script src="../../dist/js/pickles.js"></script>

<script>

    var myFocusTrap;

    jQuery(document)
        .ready(function($) {

            // Create the focus trap
            myFocusTrap = new Pickles.FocusTrap('#here');

            // Start or stop the trap when the checkbox changes
            $('#focusToggle')
                .on('change', function() {
                    if ( $(this).prop('checked') )
                    {
                        // Start the focus trap
                        myFocusTrap.start(); 
                    }
                    else
                    {
                        // Stop the focus trap
                        myFocusTrap.stop();
                    }
                });
            
        });

</script>