<!-- Don't forget to load the styles: "{{css}}" or "{{sass}}" -->

<p>Show me a big <a href="https://picsum.photos/900/600" title="This is the caption" data-thumbnail>picture</a></p>

<p>Show me <a href="https://picsum.photos/600/900" title="This is another caption" data-thumbnail>one more</a> and then <a href="https://picsum.photos/900/900" title="The 3rd caption" data-thumbnail>one last one</a>.</p>

<!-- Load the JS library -->
<script src="../../dist/js/Pickles.js"></script>

<script>

    var myLightbox;

    jQuery(document)
        .ready(function($) {
            
            // Have all [data-thumbnail] links open lightboxes
            myLightbox = new Pickles.Lightbox();

        });

</script>