<!-- Don't forget to load the styles: "{{css}}" or "{{sass}}" -->

<p>This is a <a href="#something" data-modal>modal</a></p>

<div id="something" class="modal-overlay">
    <div class="modal">
        <p>Say hello to my little modal</p>
        <a href="#" data-close-modal>Goodbye</a>
    </div>
</div>

<!-- Load the JS library -->
<script src="../../dist/js/Pickles.js"></script>

<script>

    var myModal;

    jQuery(document)
        .ready(function($) {

            // Have all [data-modal] links open modals based on href selector
            myModal = new Pickles.Modal();

        });

</script>