<p>First, include TweenMax <a href="https://greensock.com/docs/v2/NPMUsage">via NPM/Yarn</a> or via a CDN:</p>
{{#code}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
{{/code}}
<p>Then start scrolling...</p>

<div class="tile tile1" data-scroll='{ "--test": "49%", "y": 200, "opacity": 0, "rotation": 45 }' data-scroll-start="0" data-scroll-end="0.75"></div>
<div class="tile tile2" data-scroll='{ "y": 150, "opacity": 0, "scale": 0.5 }' data-scroll-start="0" data-scroll-end="0.75"></div>
<div class="tile tile3" data-scroll='{ "y": 100, "opacity": 0, "rotation": -90 }' data-scroll-start="0" data-scroll-end="0.75"></div>

<!-- Load the JS library (or use an ES6 import: 
    import { ScrollEffects } from 'pickles';
    var myScrollEffects = new ScrollEffects();
) -->
<script src="../../dist/js/pickles.js"></script>

<script>

    var myScrollEffects;

    jQuery(document)
        .ready(function($) {

            myScrollEffects = new Pickles.ScrollEffects();

        });

</script>